<!DOCTYPE html>

<html>
    <head>
        {{ JSGlue.include() }}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script src="https://unpkg.com/draggabilly@2/dist/draggabilly.pkgd.min.js"></script>
        <title>~Doodler~</title>
    </head>
    <body>
        <div id="wrapper">
    		<svg id="canvas" preserveAspectRatio="none" height="400" width="400" viewbox="0 0 2000 2000"></svg>
    	</div>
    	<!--<div style="width: 50px; height: 50px; border: 1px solid black;">-->
    	<!--    <svg class="test">-->
    	<!--        <rect x="0" y="0" width="20px" height="20px"></rect>-->
    	<!--    </svg>-->
    	<!--</div>-->
       <script src="../static/script.js"></script>
    </body>
</html>